<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/home.css">
    </head>
        <body>
            <h1 id="page-heading">
                <i class="far fa-address-book"></i>
                Contact List
            </h1>

            <div id="contact-div">
                <ul>
                   <% for(let i of contact_list) { %>
                    <li>
                    <div class="flex-div">
                       <span><%= i.name%></span>
                       <span><%= i.phone%> <a href="/delete-contact/?id=<%= i._id %>"><i class="fas fa-trash-alt"></i></a>
                    </span>
                    </div>
                    </li>
                  <% } %>
                </ul>
            

            <form action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="Enter name" required>
                <input type="number" name="phone" placeholder="Enter phone" required>
                <button type="submit">Add</button>
            </form>
        </div>
            <script type="text/javascript" src="/js/home.js"></script>
        </body>
</html>